# Q1:

Think of at least three kinds of your favorite pizza. Store these pizza names in a list, and then use a for loop to print the name of each pizza.

In [0]:
Fp=('Tikka','Pepproni','Capcino')

In [0]:
for i in Fp:
  print(i)

Tikka
Pepproni
Capcino

# Q2

Start with your last question , Modify your for loop to print a sentence using the name of the pizza
instead of printing just the name of the pizza. For each pizza you should
have one line of output containing a simple statement like I like pepperoni
pizza.

In [1]:
Fp=['Tikka','Pepproni','Capcino']

In [2]:
for i in Fp:
    print(f'I like {i} pizza')

I like Tikka pizza
I like Pepproni pizza
I like Capcino pizza

# Q3:

Use a for loop to print the numbers from 1 to 20,
inclusive.

In [0]:
for i in range(1,21):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# Q4:

Use the third argument of the range() function to make a list
of the odd numbers from 1 to 20. Use a for loop to print each number.

In [0]:
for i in range(1,21,2):
  print(i)

1
3
5
7
9
11
13
15
17
19

  # Q5:

Make a list of the multiples of 3 from 3 to 30. Use a for loop to
print the numbers in your list.

In [0]:
for i in range(1,11):
  print(f'3*{i}={3*i}')

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

# Q6:

A number raised to the third power is called a cube. For example,
the cube of 2 is written as 2**3 in Python. Make a list of the first 10 cubes (that
is, the cube of each integer from 1 through 10), and use a for loop to print out
the value of each cube

In [0]:
for i in range(1,11):
  print(f'{i}**3={i**3}')

1**3=1
2**3=8
3**3=27
4**3=64
5**3=125
6**3=216
7**3=343
8**3=512
9**3=729
10**3=1000

# Q7:

###### Make a python program that conatains your nine favourite dishes in a list called foods.

###### Print the message, The first three items in the list are:. 
###### Then use a slice to print the first three items from that program’s list.

###### Print the message, Three items from the middle of the list are:
###### Use a slice to print three items from the middle of the list.

###### Print the message, The last three items in the list are:
###### Use a slice to print the last three items in the list.

In [0]:
food=('Biryani','Tikka','Karhai','Namkin gosht','Haleem','Macroni','Pizza','Burger','Kheer')

In [0]:
print(f'The first three dishes are:{food[0:3]}')

The first three dishes are:('Biryani', 'Tikka', 'Karhai')

In [0]:
print(f'The three dishes in middle are:{food[3:6]}')

The three dishes in middle are:('Namkin gosht', 'Haleem', 'Macroni')

In [0]:
print(f'The last three dishes are:{food[6:9]}')

The last three dishes are:('Pizza', 'Burger', 'Kheer')

# Q8:

### Start with your program from your last Question8.
###### Make a copy of the list of foods, and call it friend_foods.
###### Then, do the following:
######    Add a new dish to the original list.
######    Add a different dish to the list friend_foodss.
######    Prove that you have two separate lists. 
###### Print the message, My favorite pizzas are: and then use a for loop to print the first list. 
###### Print the message,
###### My friend’s favorite foods are:, and then use a for loop to print the second list.
    
##### NOTE: Make sure each new dish is stored in the appropriate list.

In [0]:
friend_foods=('Biryani','Tikka','Karhai','Namkin gosht','Haleem','Nihari','Halwa Puri','Burger','Kheer')

In [0]:
foods=['Biryani','Tikka','Karhai','Namkin gosht','Haleem','Macroni','Pizza','Burger','Kheer']

In [0]:
for i in [foods]:
    print(f'My favorite foods are:{i}')

My favorite foods are:['Biryani', 'Tikka', 'Karhai', 'Namkin gosht', 'Haleem', 'Macroni', 'Pizza', 'Burger', 'Kheer']

In [0]:
for i in [friend_foods]:
    print(f"My friend's favorite foods are:{friend_foods}")

My friend's favorite foods are:('Biryani', 'Tikka', 'Karhai', 'Namkin gosht', 'Haleem', 'Nihari', 'Halwa Puri', 'Burger', 'Kheer')

# Q9:

Take a user input from console line.Store it in a variable called Alien_color.

If the alien’s color is red, print a statement that the player just earned 5 points for shooting the alien.

If the alien’s color isn’t green, print a statement that the player just earned 10 points.

If the alien's color isn't red or green , print a statment :, Alien is no more.....

In [0]:
name=input('What is your name? ')

What is your name? Umer

In [0]:
Alien_color=input('What is Alien color? ')
if Alien_color =="Red":
    print(f"{name} got 5 points.")
elif Alien_color == "Green":
    print(f"{name} got 10 points.")
else:
    print("Alien is no more.")

What is Alien color? Green
Umer got 10 points.

# Q10:

Write an if-elif-else chain that determines a person’s
stage of life. Set a value for the variable age, and then:
    
•	 If the person is less than 2 years old, print a message that the person is a baby.

•	 If the person is at least 2 years old but less than 4, print a message that the person is a toddler.

•	 If the person is at least 4 years old but less than 13, print a message that the person is a kid.

•	 If the person is at least 13 years old but less than 20, print a message that the person is a teenager.

•	 If the person is at least 20 years old but less than 65, print a message that the person is an adult.

•	 If the person is age 65 or older, print a message that the person is an elder.

In [1]:
name=input('What is your name? ')
age=int(input('What is your age? '))
if age<2:
  print(f'The {name} is a baby.')
elif 2<age<4:
  print(f'The {name} is a toddler.')
elif 4<age<13:  
  print(f'The {name} is a kid.')
elif 13<age<20:
  print(f'The {name} is a teenager.')
elif 20<age<60:
  print(f'The {name} is an adult.')
else:
  print(f'The {name} is an elder .')

What is your name? Umer
What is your age? 17
The Umer is a teenager.

In [0]:
name=input('What is your name? ')
age=int(input('What is your age? '))
if age<2:
  print(f'The {name} is a baby.')
elif 2<age<4:
  print(f'The {name} is a toddler.')
elif 4<age<13:  
  print(f'The {name} is a kid.')
elif 13<age<20:
  print(f'The {name} is a teenager.')
elif 20<age<60:
  print(f'The {name} is an adult.')
else:
  print(f'The {name} is an elder .')

What is your name? Hameed
What is your age? 53
The Hameed is an adult.

In [0]:
name=input('What is your name? ')
age=int(input('What is your age? '))
if age<2:
  print(f'The {name} is a baby.')
elif 2<age<4:
  print(f'The {name} is a toddler.')
elif 4<age<13:  
  print(f'The {name} is a kid.')
elif 13<age<20:
  print(f'The {name} is a teenager.')
elif 20<age<60:
  print(f'The {name} is an adult.')
else:
  print(f'The {name} is an elder .')

What is your name? Hammad
What is your age? 90
The Hammad is an elder .

# Q11:

Do the following to create a program that simulates how websites ensure that everyone has a unique username.

•	 Make a list of five or more usernames called current_users.

•	 Make another list of five usernames called new_users. 
Make sure one or two of the new usernames are also in the current_users list.

•	 Loop through the new_users list to see if each new username has already been used. 
If it has, print a message that the person will need to enter a new username. 
If a username has not been used, print a message saying that the username is available.

•	 Make sure your comparison is case insensitive. If 'John' has been used, 'JOHN' should not be accepted.

In [2]:
current_users=['Umer','Hammad','Umaid','Taha','Owais']

In [3]:
new_users=['Hammad','Umer','Usman','Khubaib','Wahab',]

In [7]:
for i in current_users :
    for j in new_users:
        if i==j:
            print(f'{i} is already logged in.')
        else:
            print(f'{i} is available')

Umer is available
Umer is already logged in.
Umer is available
Umer is available
Umer is available
Hammad is already logged in.
Hammad is available
Hammad is available
Hammad is available
Hammad is available
Umaid is available
Umaid is available
Umaid is available
Umaid is available
Umaid is available
Taha is available
Taha is available
Taha is available
Taha is available
Taha is available
Owais is available
Owais is available
Owais is available
Owais is available
Owais is available

# Q12:

Use a dictionary to store information about a person you know.
Store their first name, last name, age, and the city in which they live. 
You should have keys such as first_name, last_name, age, and city. 
Print each piece of information stored in your dictionary

In [11]:
F={'fname':'Hammad','lname':'Ali','age':19,'city':'Karachi'}

In [12]:
F['fname']

'Hammad'

In [18]:
for keys,values in F.items():
    print('\nkey:',keys)
    print('\nvalue:',values)

key: fname

value: Hammad

key: lname

value: Ali

key: age

value: 19

key: city

value: Karachi

# Q13:

Starts with your last question 12 , loop through the dictionary’s keys and values.
When you’re sure that your loop works, add five more Python terms to your
dictionary . When you run your program again, these new words and meanings
should automatically be included in the output.

In [23]:
F={'fname':'Hammad','lname':'Ali','age':19,'city':'Karachi','int' : 'numbers','string' : 'characters','boolean' :  'true or false','loop': 'repetition of anything','list': 'colection of data',}

In [24]:
for keys,values in F.items():
    print('\nkey:',keys)
    print('\nvalue:',values)

key: fname

value: Hammad

key: lname

value: Ali

key: age

value: 19

key: city

value: Karachi

key: int

value: numbers

key: string

value: characters

key: boolean

value: true or false

key: loop

value: repetition of anything

key: list

value: colection of data

# Q14:

Make a dictionary containing three major rivers and the country
each river runs through. One key-value pair might be 'nile': 'egypt'.
    
    
•	 Use a loop to print a sentence about each river, such as The Nile runs
through Egypt.

NOTE: use upper case through keys and values.

In [25]:
rivers={'Nile':'Egypt','Amazon':'Africa','Indus':'Pakistan'}

In [26]:
for keys in rivers.keys():
  a=keys  
  print(keys)
for val in rivers.values():
  b=val
  print(val)

Nile
Amazon
Indus
Egypt
Africa
Pakistan

In [27]:
for i,j in rivers.items():
    print('The' +  ' '+ i +  ' ' + 'runs through' + ' ' + j )

The Nile runs through Egypt
The Amazon runs through Africa
The Indus runs through Pakistan

# Q15:

Make several dictionaries, where the name of each dictionary is the
name of a pet. In each dictionary, include the kind of animal and the owner’s
name. Store these dictionaries in a list called pets. Next, loop through your list
and as you do print everything you know about each pet.

In [30]:
maano = {'petanimals' : 'cats','owners_name' : 'John'}
tuffy = {'pet animal' : 'Dogs','owners_name' : 'Peter'}
ghousho = {'pet animal' : 'Rabbitss','owners_name' : 'Susan',}
list1 = []
list1.append(maano)
list1.append(tuffy)
list1.append(ghousho)
#print(list1)
for animals in list1:
    for i , j in animals.items():
        print('the name of ' + i + ' ' + 'is ' + j )

the name of petanimals is cats
the name of owners_name is John
the name of pet animal is Dogs
the name of owners_name is Peter
the name of pet animal is Rabbitss
the name of owners_name is Susan