# Python First Class

This is Python First class

In [13]:
print("Hello, World!")#string type

Hello, World!

In [14]:
print('123')#string type

123

In [15]:
print(123)#integer type

123

In [16]:
print(23.4)#float type

23.4

In [17]:
print(True)#bool or boolian type

True

In [18]:
print() #Shift + Tab #Signature

In [24]:
print(123 , 3.45 , 'Hello' , False, sep='')

1233.45HelloFalse

In [27]:
print(123 , 3.45 , 'Hello' , False, sep=',')

123,3.45,Hello,False

In [29]:
print(123 , 3.45 , 'Hello' , False)

123 3.45 Hello False

In [31]:
print(123 , 3.45 , 'Hello' , False, sep='=')

123=3.45=Hello=False

In [35]:
print(123 , 3.45 , 'Hello' , False, sep=' -I am a seperator- ')

123 -I am a seperator- 3.45 -I am a seperator- Hello -I am a seperator- False

In [37]:
print(123 , 3.45 , 'Hello' , False, sep='-')

123-3.45-Hello-False

In [42]:
print('Hello World', end='\t')
print('Hello Hammad', end='\t')
print('Hello Umer')

Hello World	Hello Hammad	Hello Umer

# Assignment

You have to search All the escape Characters of And implement them on the python

In [45]:
print(123)

123

# Variables

In [55]:
age = 17

In [56]:
name = 'Umer'

In [58]:
 result = True

In [59]:
1name = 'hammad'

SyntaxError: invalid syntax (<ipython-input-59-e49f7a41cb60>, line 1)

Special character cannot be variabe.

such as @,$,%......

In [60]:
True = 5

SyntaxError: can't assign to keyword (<ipython-input-60-cee96fa4ba6e>, line 1)

In [62]:
true = 234

In [64]:
x = 45
y = 56

In [66]:
print(x+y)

101

In [67]:
z = x+y

In [68]:
print(z)

101

In [69]:
a = 4
b = 4.1

In [71]:
a+b

8.1

In [75]:
c = a+b

In [76]:
print(c)

8.1

In [77]:
print(c*a)

32.4

In [78]:
4/4

1.0

In [79]:
4/4

1.0

In [81]:
25/5 # division by default is float

5.0

In [82]:
4 // 4

1

In [86]:
25 // 4

6

In [89]:
25 / 4

6.25

In [92]:
round((25/4), 6)

6.25

In [97]:
print(' apple ' * 5)

 apple  apple  apple  apple  apple

# Concatenation

In [98]:
a ='10'
b ='34'

In [100]:
type(a) # to check the data type

str

In [101]:
a+b

'1034'

In [1]:
age = 17
name = 'Umer'
print(f'My name is {name} and age is {age}.')

My name is Umer and age is 17.

In [4]:
age = (input('What is your age?\t '))
name = input('What is your name?\t ')

print('My name is '+ name + ' and age is ' + (age) + '.' )

What is your age?	 17
What is your name?	 Umer
My name is Umer and age is 17.

In [17]:
age = int(input('What is your age?'))
name = input('What is your name?')

print('My name is '+ name + ' and age is ' + str(age)+ '.' )

What is your age?17
What is your name?Umer
My name is Umer and age is 17.

In [22]:
age = int(input('What is your age? ='))
name = input('What is your name? =')

print('My name is '+ name + ' and age is ' + str(age)+ '.' )
print(age+2)
print('My name is', name , 'and my age is ', age)

What is your age? =17
What is your name? =Umer
My name is Umer and age is 17.
19
My name is Umer and my age is  17

In [12]:
x = input()  #type casting
type(x)

15

str

In [10]:
x = int(input()) #type casting
type(x)

15

int

In [1]:
name = input('What is your name?  ')
age = int(input('What is your age?  '))
print('my name is {0} and my age is {1}.'.format(name,age))#place holder

What is your name?  Umer
What is your age?  17
my name is Umer and my age is 17.

In [3]:
name = input('What is your name?  ')
age = int(input('What is your age?  '))

print(f'my name is {name} and my age is {age}.')

What is your name?  Umer
What is your age?  17
my name is Umer and my age is 17.