# List

In [1]:
student = ['hammad', "umer", "omaid", "Taha", "Usman"] #string
#index         0        1       2       3        4

In [2]:
alist = ["Karachi", 20, 2.5, True]

In [3]:
student

['hammad', 'umer', 'omaid', 'Taha', 'Usman']

In [4]:
student[3]

'Taha'

In [5]:
del student[4] #inplace(delete by index)

In [7]:
student[4]

IndexError: list index out of range

In [9]:
student

['hammad', 'umer', 'omaid', 'Taha']

In [16]:
student.remove('omaid')
student

['hammad', 'umer']

In [18]:
student

['hammad', 'umer']

In [20]:
city=[]

In [22]:
city.append('Karachi')

In [23]:
student.append('Owais')

In [24]:
student

['hammad', 'umer', 'Owais']

In [25]:
city.append(input("put Name"))

put NameLarkana

In [26]:
city

['Karachi', 'Karachi', 'Larkana']

In [27]:
city.insert(2,'Adyala')

In [29]:
city.pop(2)

'Adyala'

In [38]:
city

['Karachi', 'Karachi', 'Larkana', 'Adyala Jail']

In [31]:
city.insert(30,'Adyala Jail')

In [33]:
city

['Karachi', 'Karachi', 'Larkana', 'Adyala Jail']

In [34]:
city.index('Adyala Jail')

3

In [42]:
city.index('Karachi', 0)

0

In [43]:
len(student)

3

In [52]:
number=[1,2,3,4,5,6,7,78,8,9]

In [53]:
number

[1, 2, 3, 4, 5, 6, 7, 78, 8, 9]

In [54]:
number.sort()
number

[1, 2, 3, 4, 5, 6, 7, 8, 9, 78]

In [55]:
number.sort(reverse=True)
number

[78, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [57]:
name=['hammad','huzaifa']

In [62]:
name.sort(reverse=True)
name

['huzaifa', 'hammad']

In [63]:
name.reverse()
name

['hammad', 'huzaifa']

In [64]:
num = [4,4,4,4,4,4,4,4,4,4,4,4,49]

In [65]:
num.reverse()

In [66]:
num

[49, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]

In [68]:
numb = [6,4,33,43,45,87,24]

In [69]:
k=numb
k

[6, 4, 33, 43, 45, 87, 24]

In [70]:
k=numb=number

In [71]:
k

[78, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [72]:
k

[78, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [73]:
numb

[78, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [74]:
k.append(100)

In [75]:
k

[78, 9, 8, 7, 6, 5, 4, 3, 2, 1, 100]

In [76]:
k.pop(10)

100

In [77]:
k

[78, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [85]:
a=number.copy() #only copy numbers
a

[78, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [80]:
a.append(100)

In [81]:
a

[78, 9, 8, 7, 6, 5, 4, 3, 2, 1, 100, 100]

In [83]:
number

[78, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [88]:
b=a[:] #Only copy numbers(same as previous comment)

In [89]:
b

[78, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# List into List

In [107]:
list1=[1,2,3,4,5,6,['a','b','c','d','e'],k]

In [103]:
list1[6][3]

'd'

In [108]:
list1

[1, 2, 3, 4, 5, 6, ['a', 'b', 'c', 'd', 'e'], [78, 9, 8, 7, 6, 5, 4, 3, 2, 1]]

In [109]:
list1[6].insert(1,k)

In [114]:
list1

[1,
 2,
 3,
 4,
 5,
 6,
 ['a', [78, 9, 8, 7, 6, 5, 4, 3, 2, 1], 'b', 'c', 'd', 'e'],
 [78, 9, 8, 7, 6, 5, 4, 3, 2, 1]]

In [116]:
list1[6].pop(1)

[78, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [117]:
list1

[1, 2, 3, 4, 5, 6, ['a', 'b', 'c', 'd', 'e'], [78, 9, 8, 7, 6, 5, 4, 3, 2, 1]]

In [118]:
4 in list1

True

In [119]:
b in list1

True

In [122]:
78 in list1[7]

True

In [133]:
y = [input(),input(),input(),input(),input(),input(),input(),input(),input(),input(),input()]

Umer
is
by
all
mean
is
lower/ greater
than
wrgwr
rgwawr
g

In [134]:
y

['Umer',
 'is',
 'by ',
 'all ',
 'mean',
 'is ',
 'lower/ greater',
 'than',
 'wrgwr',
 'rgwawr',
 'g']

# Slicing

In [147]:
sd=y[0:]

In [148]:
sd

['Umer',
 'is',
 'by ',
 'all ',
 'mean',
 'is ',
 'lower/ greater',
 'than',
 'wrgwr',
 'rgwawr',
 'g']

In [149]:
sd=y[11:0]

# Negative slicing

In [152]:
f=['Melon','Banana','apple','Mango','grapes']

In [160]:
print('Minions love', f[-4])

Minions love Banana

In [166]:
y[-7:]

['mean', 'is ', 'lower/ greater', 'than', 'wrgwr', 'rgwawr', 'g']

In [181]:
print(y)

['Umer', 'is', 'by ', 'all ', 'mean', 'is ', 'lower/ greater', 'than', 'wrgwr', 'rgwawr', 'g']

In [182]:
y

['Umer',
 'is',
 'by ',
 'all ',
 'mean',
 'is ',
 'lower/ greater',
 'than',
 'wrgwr',
 'rgwawr',
 'g']

In [185]:
Tier=['Bronze','Silver','Gold','Platinium','Diamond','Crown','Ace','Conquerer']

In [190]:
print(Tier)

['Bronze', 'Silver', 'Gold', 'Platinium', 'Diamond', 'Crown', 'Ace', 'Conquerer']

In [191]:
a=Tier.pop(7)

In [192]:
a

'Conquerer'

In [193]:
a

'Conquerer'

In [194]:
Tier

['Bronze', 'Silver', 'Gold', 'Platinium', 'Diamond', 'Crown', 'Ace']

In [195]:
Tier.append(a)

In [198]:
a=Tier.pop(7)

In [199]:
a

'Conquerer'

In [206]:
b= 'Tier+a'

In [207]:
b

'Tier+a'

In [209]:
y = input('which teir in Are you')
if y == 'gold':
    Tier[4]
else:
    Tier.pop(7)

which teir in Are yougold